<table id="table" class="table table-striped table-bordered table-hover table-nowrap" data-operate-edit="1" data-operate-del="1" width="100%">
    <tbody>
    <tr>
        <th style="text-align: center; vertical-align: middle; " data-field="id"><div class="th-inner ">id</div>
            <div class="fht-cell"></div>
        </th>
        <th style="text-align: center; vertical-align: middle; " data-field="id"><div class="th-inner ">飞行员名称</div>
            <div class="fht-cell"></div>
        </th>
        <th style="text-align: center; vertical-align: middle; " data-field="id"><div class="th-inner ">设备号</div>
            <div class="fht-cell"></div>
        </th>
        <th style="text-align: center; vertical-align: middle; " data-field="id"><div class="th-inner ">操作</div>
            <div class="fht-cell"></div>
        </th>
    </tr>
    {volist name='pilots' id='pilot'}
    <tr data-index="0" class="selected">
        <td style="text-align: center; vertical-align: middle; ">{$pilot.id}</td>
        <td style="text-align: center; vertical-align: middle; ">{$pilot.pilot_name}</td>
        <td style="text-align: center; vertical-align: middle; ">{$pilot.device_no}</td>
        <td style="text-align: center; vertical-align: middle; "><a href="/admin/pilot/allot/pid/{$pid}/pilot_id/{$pilot.id}">分配</a></td>
    </tr>
    {/volist}
    </tbody>
</table>