{include file='Public:header'}

<body>

<header class="yj-header yj-bg-fff">

    <span>下单类型</span>

</header>

<div class="yj-content yj-mainHF">

    <div class="yj-pad-tb yj-pad-lr-big">

        <p>活动规则</p>

        <ol class="yj-color-gray yj-text-sm yj-line-height-2">

            <li>

                每亩单价为 &yen;50/亩

            </li>

            <li>

                拼单需在规定时间完成

            </li>

        </ol>

    </div>

    <p class="yj-pad-bigger">
        <a href="/wap/crowd/pindan.html" class="yj-btn yj-main yj-block">我要拼单</a>
    </p>

    <div class="yj-pad-tb yj-pad-lr-big">

        <p>活动规则</p>

        <ol class="yj-color-gray yj-text-sm yj-line-height-2">

            <li>

                仅用于大面积用户

            </li>

            <li>

                低于20万亩禁止直接下单

            </li>

        </ol>

    </div>

    <p class="yj-pad-bigger">
        <a href="/wap/crowd/xiadan.html" class="yj-btn yj-main yj-block">直接下单</a>
    </p>

</div>



{include file='Public:footer'}



</body>

</html>