{include file='Public:header'}
<body>
<header class="yj-header yj-bg-fff">
    <span>加入拼单</span>
</header>
<div class="yj-content yj-mainH">
    <form action="/wap/crowd/join_deal.html" method="post" name="crowd_form">
        <div class="weui-cells yj-text-sm yj-mar-t-sm" >

            <div class="weui-cell weui-cell_swiped">
                <div class="weui-cell__bd">
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__bd">
                            <label for="" class="weui-label"><i class="yj-color-red">*</i> 选择地块</label>
                        </div>
                        <div class="weui-cell__ft">
                            <select class="weui-select yj-color-gray" name="land_id" id="landSel">
                                <option value="">请选择</option>
                                {volist name='my_land' id='land' empty="$empty"}
                                <option value="{$land.id}" data-area="{$land.area}">{$land.name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>
                <input type="hidden" id='land-area' name="area" value="">
                <input type="hidden" id='p_id' name="p_id" value="{:input('id')}">
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn delete-swipeout" href="javascript:">删除</a>
                    <a class="weui-swiped-btn weui-swiped-btn_default close-swipeout" href="javascript:">关闭</a>
                </div>
            </div>

            <div class="weui-cell weui-cell_swiped">
                <div class="weui-cell__bd">
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__bd">
                            <label for="" class="weui-label"><i class="yj-color-red">*</i> 选择杀虫剂</label>
                        </div>
                        <div class="weui-cell__ft">
                            <select class="weui-select yj-color-gray" name="pesticide" id="shachongSel">
                                <option value="">请选择</option>
                                {volist name='pesticides' id='pesticide' empty="$empty"}
                                <option value="{$pesticide.id}" data-price="{$pesticide.price}">{$pesticide.name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn delete-swipeout" href="javascript:">删除</a>
                    <a class="weui-swiped-btn weui-swiped-btn_default close-swipeout" href="javascript:">关闭</a>
                </div>
            </div>

        </div>
        <p class="yj-pad-bigger yj-pad-b-0 yj-mar-t-big"><input value='下 一步' type='submit' class="yj-btn yj-main yj-block yj-big" ></p>

    </form>
</div>

<script type="text/javascript">
    var localTime = localdate('YMDHM');
    $("#startTime").val(localTime);
    $("#endTime").datetimePicker({
        min:localTime
    });
    $('.delete-swipeout').click(function () {
        $(this).parents('.weui-cell').remove()
    });
    $('.close-swipeout').click(function () {
        $(this).parents('.weui-cell').swipeout('close')
    });


    var unitPrice = 0;
    var area = 0;
    $('#landSel').change(function () {
        var area=$('#landSel').find("option:selected").attr('data-area');
        $('#land-area').val(area);
        var count=unitPrice*area;
        $('#yajinNum').text(count);
    });
    $('#landSel,#shachongSel').change(function () {
        console.log('change');
        var unitPrice = $('#shachongSel').find("option:selected").attr('data-price');
        var area = $('#landSel').find("option:selected").attr('data-area');
        var count=unitPrice*area;
        $('#yajinNum').text(count);
    });

</script>

</body>
</html>