{include file='Public:header'}
<body>
<header class="yj-header yj-bg-fff">
    <div class="yj-header-search">
        <input class="yj-header-search-input" value="{:input('keyword')}" type="text" placeholder="XU2360" id="enterSearch">
    </div>
    <a href="" class="yj-header-scan">
        <img src="__WAPPUBLIC__static/images/scan.png">
    </a>
</header>
<div class="yj-content yj-mainHF">
    <!-- index banner -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {volist name='banners' id='banner'}
            <a href="{$banner.url}" class="swiper-slide"><img src="{$banner.image}" alt=""></a>
            {/volist}
        </div>

    </div>
    <div class="yj-bg-fff yj-mar-t">
        <div class="zx-index-title1 yj-border-b">
            <p>&nbsp;</p>
            <div class="weui-loadmore weui-loadmore_line">
                <span class="weui-loadmore__tips">附近拼单</span>
            </div>
        </div>
        <!-- i -->
        <div class="weui-cells" style="margin-top: -1px;">
            <div class="weui-cell weui-cell_select">
                <form class="weui-cell__bd" name="land_form">
                    <select class="weui-select" name="land_id" onchange="land_form.submit()">
                        <option selected="" value="">选择地块</option>
                        {volist name='myland' id='land'}
                        <option value="{$land.id}" {:input('land_id')==$land.id ? 'selected' : ''}>{$land.name}</option>
                        {/volist}
                    </select>
                </form>
            </div>
        </div>
        <!--<p class="yj-list-item yj-pad-lr-big">
            &lt;!&ndash;<span class="yj-list-item-text yj-color-gray" id="areaName">选择地块</span>
            <span class="yj-list"></span>
            <img class="yj-list-item-more" src="__WAPPUBLIC__static/images/arrow_right.png" alt="">&ndash;&gt;
            <select class="yj-select" name="" id="" style="width: 100%;">
                <option value="0">选择地块</option>
                <option value="1">地块1</option>
                <option value="2">地块2</option>
            </select>
        </p>-->
    </div>
    <!--地块 拼单 信息-->
    <div class="yj-mar-t zh-merge ">
        <!-- list  -->
        {volist name='aroundOrders' id='order'}
        <a class="yj-bg-fff yj-mar-b zh-merge-list yj-block"  href="/wap/crowd/detail/id/{$order.id}.html">
            <div class="yj-pad-lr-big yj-border-b">
                <div class="yj-list-item">
                    <span class="yj-list-item-text yj-elip-1">{$order.pname}</span>
                    <i class="yj-color-main yj-text-sm">{:explain_state($order.state)}</i>
                </div>
                <div class="yj-pad-b-big">
                    <span class="yj-color-red yj-text-big">{$order.ori_price}&yen;/亩</span>
                    <span class="yj-color-gray yj-mar-l">当前价:{$order.price}&yen;/亩</span>
                </div>
                <span class="yj-color-gray yj-mar-l">发布人:{$order.leader_name}</span>
            </div>
            <div class="yj-pad-b">
                <div class="yj-pad-tb-big yj-display-flex yj-text-center">
                    <div class="yj-flex-1">
                        <p class="yj-color-gray yj-text-sm">开始时间</p>
                        <p class="yj-mar-t">{$order.starttime}</p>
                    </div>
                    <div class="yj-flex-1 yj-border-l">
                        <p class="yj-color-gray yj-text-sm">结束时间</p>
                        <p class="yj-mar-t">{$order.endtime}</p>
                    </div>
                    <div class="yj-flex-1 yj-border-l">
                        <p class="yj-color-gray yj-text-sm">已拼(亩)</p>
                        <p class="yj-mar-t">{$order.hasland}</p>
                    </div>
                    <div class="yj-flex-1 yj-border-l">
                        <p class="yj-color-gray yj-text-sm">剩余(亩)</p>
                        <p class="yj-mar-t">{$order.sumarea-$order.hasland}</p>
                    </div>
                </div>
                <div class="yj-pad-lr-big yj-pad-b-big">
                    <div class="yj-progress yj-circle">
                        <div class="yj-progress-bar" style="width:{:floor($order.hasland/$order.sumarea*100)}%">{:floor($order.hasland/$order.sumarea*100)}%</div>
                    </div>
                </div>
                <div class="yj-pad-lr-big">
                    <span class="yj-color-gray-light yj-text-min">{$order.distance}距您:{:deal_distance($order.distance)}</span>
                    <span class="yj-btn yj-main yj-sm yj-right">去拼单</span>
                </div>
            </div>
        </a>
        {/volist}
        <!--  list end  -->

    </div>

</div>
{include file='Public:footer'}

<!-- search 引导 -->
<div class="yj-search-guide yj-none">

    <div class="yj-header yj-bg-fff">
        <form class="yj-header-search" id="search_from">
            <input class="yj-header-search-input" value="{:input('keyword')}" name='keyword' type="search" placeholder="请输入搜索内容" id="searchInput">
        </form>
        <a class="yj-search-cancel yj-color-gray" id="cancelSearch">取消</a>
    </div>
    <div class="yj-pad-header yj-text-usual">
        <!--<div class="yj-bg-fff yj-pad-l-big yj-mar-t">
            <p class="yj-color-gray yj-pad-tb">热门搜索</p>

            <div class="yj-pad-b yj-search-label">
                <a class="yj-btn yj-sm yj-radius yj-mar-r yj-mar-b">新乡化纤</a>
                <a class="yj-btn yj-sm yj-radius yj-mar-r yj-mar-b">杀虫剂药</a>
            </div>
            &lt;!&ndash; 加载中，数据正常时 显示 &ndash;&gt;
            <p class="yj-text-center yj-pad-b"><a class="yj-color-gray yj-text-usual"><img class="yj-mar-r" src="__WAPPUBLIC__static/images/refresh.png" height="16"> 换一批</a></p>
            &lt;!&ndash; 加载中，数据没有返回时 显示 &ndash;&gt;
            &lt;!&ndash;<p class="yj-text-center yj-pad-b"><a class="yj-color-gray yj-text-usual"><img class="yj-mar-r" src="__WAPPUBLIC__static/images/refresh.png" height="16"> 正在加载...</a></p>&ndash;&gt;
        </div>-->

        <!-- 最近搜索 -->
        <!--<div class="yj-bg-fff yj-pad-l-big yj-mar-t">
            <p class="yj-color-gray yj-pad-tb yj-pad-r-big">
                最近搜索 <img class="yj-right" src="__WAPPUBLIC__static/images/trash.png" height="14" onclick="delHistory()">
            </p>
            <div class="yj-pad-b yj-search-label" id="searchHistoryBox">

            </div>
        </div>-->
    </div>

</div>


<script type="text/javascript">
    new Swiper('.swiper-container', {
        autoplay: 3000
    });

    $('#enterSearch').focus(function(){
        $('.yj-search-guide').show();
        $('#searchInput').focus();
    });

    $('#cancelSearch').click(function(){
        $('.yj-search-guide').hide();
    });

    $('.yj-search-label a').click(function(){
        $(this).addClass('yj-main').siblings().removeClass('yj-main');
    });


    var historyJson;
    $(function(){
       // searchHistory = [];
        //console.log(sessionStorage.getItem('searchName'));
        historyJson = JSON.parse(sessionStorage.getItem('searchName'));
        if(!historyJson){
            historyJson=[];
        }
        appendHistioryHtml();
        //$.toast('初始化完成','text');

        //点击软键盘 搜索按钮 触发
        $("#keyword").on('keypress',function(e) {
            var keycode = e.keyCode;
            var searchName = $(this).val();
            if(keycode=='13') {
                e.preventDefault();
                searchForm();

            }
        });

        //点击最近搜索 项目
        $('#searchHistoryBox a').click(function(){
            var thisVal = $(this).text();
            $('#searchInput').val(thisVal);
            searchForm();
        });

        $('#search_from').submit(function(){
            searchForm();
        });
    });

    //搜索
    function searchForm(){
        var inputVal = $('#searchInput').val();
        if(inputVal==''){
            $.toast('请输入关键字','text');
            return false;
        }else{

            /*if(isRepeat(historyJson)){
                historyJson.splice($.inArray(inputVal,historyJson),1);
            }*/
            historyJson.unshift(inputVal);
            sessionStorage.setItem('searchName',JSON.stringify(historyJson));
            //console.log();
            $('#searchHistoryBox').prepend('<a class="yj-btn yj-sm yj-radius yj-mar-r yj-mar-b">'+inputVal+'</a>');
            // return false;
        }
    }

    //最近搜索显示
    function appendHistioryHtml(){
        var html='';
        var aa = historyJson.length;
        if(aa<=0){
            $('#searchHistoryBox').html('<p class="yj-color-gray yj-color-gray-light yj-text-sm yj-text-center">您还没有搜索哦，请所有您需要的</p>');
        }else {
            for(var i=0; i<aa; i++){
                html+='<a class="yj-btn yj-sm yj-radius yj-mar-r yj-mar-b">'+historyJson[i]+'</a>'
            }
            $('#searchHistoryBox').html(html);
        }
    }

    //删除历史记录（最近搜索）
    function delHistory(){
        historyJson=[];
        sessionStorage.setItem('searchName',null);
        $('#searchHistoryBox').html('<p class="yj-color-gray yj-color-gray-light yj-text-sm yj-text-center">您还没有搜索哦，请所有您需要的</p>');
    }
    //判断是否有重复
    /*function isRepeat(arr) {
        var hash = {};
        for(var i in arr) {
            if(hash[arr[i]])
            {
                console.log('有重复');
                return true;
            }
            // 不存在该元素，则赋值为true，可以赋任意值，相应的修改if判断条件即可
            hash[arr[i]] = true;
        }
        return false;
    }*/
</script>
</body>
</html>