{include file='Public:header'}

<header class="yj-header yj-bg-fff">
    <a class="yj-header-return" href="javascript:history.go(-1);">
        <img src="__WAPPUBLIC__static/images/arrow_return.png">
    </a>
    <span>绑定手机号</span>
    <a class="yj-header-meau"></a>
</header>
<div class="yj-content yj-mainH">
    <form action="/wap/user/bind" method="post">
    <div class="weui-cells weui-cells_form yj-mar-t">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">手机号</label></div>
            <div class="weui-cell__bd">
                <input id="mob" name="mobile" class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入手机号">
            </div>
        </div>
        <div class="weui-cell weui-cell_vcode">
            <div class="weui-cell__hd">
                <label class="weui-label">验证码</label>
            </div>
            <div class="weui-cell__bd">
                <input id='code' class="weui-input" name="code" type="text" placeholder="验证码">
            </div>
            <div class="weui-cell__ft">
                <button class="weui-vcode-btn" id="btn" onclick="postvcode()">获取验证码</button>
            </div>
        </div>
    </div>
    <p class="yj-mar-t-bigger yj-pad-lr-bigger">
        <input type="submit" class="yj-btn yj-main yj-radius yj-block yj-big" value="绑定">
    </p>
    </form>
</div>
</body>

<script type="text/javascript">
    //验证码倒计时
    var InterValObj; //timer变量，控制时间
    var ZongTime=60;//总共间隔时间
    var YuTime;//剩余时间

    function sendNum(){
        YuTime=ZongTime;
        $("#btn").attr("disabled","true");
        $("#btn").text(YuTime+"s后重新发送");
        InterValObj = setInterval(SetRemainTime, 1000);
    };
    //倒计时
    function SetRemainTime(){
        if(YuTime==0){
            clearInterval(InterValObj);
            $("#btn").removeAttr("disabled");
            $("#btn").text("重新发送");
        }else{
            YuTime--;
            $("#btn").text(YuTime+"s后重新发送");
        }
    };
    function postvcode(){
        //sendNum();
        var mob=$('#mob').val();
        console.log(mob);

        if(mob==''|| !isTelCode(mob)){
            $.toast('电话号码输入错误','text');
            return false;
        }else{
            $.ajax({
                url:"/api/user/sendlogincode",    //请求的url地址
                dataType:"json",   //返回格式为json
                async:true,//请求是否异步，默认为异步，这也是ajax重要特性
                data:{mobile:mob},    //参数值
                type:"post",   //请求方式
                beforeSend:function(XMLHttpRequest){
                    sendNum();
                    XMLHttpRequest.setRequestHeader("appid", mob);
                },
                success:function(data){
                    console.log(data);
                    $.toast(data.msg,'text');
                },
                error:function(){
                    //请求出错处理
                }
            });
        }
    }
    function sub(){
        var mob=$('#mob').val();
        var code=$('#code').val();
        $.ajax({
            url:"/api/user/bindMobile",    //请求的url地址
            dataType:"json",   //返回格式为json
            async:true,//请求是否异步，默认为异步，这也是ajax重要特性
            data:{mobile:mob,code:code},    //参数值
            type:"post",   //请求方式
            beforeSend:function(XMLHttpRequest){
                //请求前的处理
            },
            success:function(data){
                console.log(data);
                if(data.errcode==0)  $(window).attr('location','/wap/index');
                $.alert(data.msg);
                //请求成功时处理
            },
            complete:function(){
                //请求完成的处理
            },
            error:function(){
                //请求出错处理
            }
        });
    }
</script>
</body>
</html>