<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no, viewport-fit=cover">
    <title>滴滴打药</title>
    <link rel="stylesheet" href="weui/lib/weui.min.css">
    <link rel="stylesheet" href="weui/css/jquery-weui.css">
    <link rel="stylesheet" href="static/css/page.css">
</head>
<body>
<header class="yj-header yj-bg-fff">
    <a class="yj-header-return" href="javascript:history.go(-1)"><img src="/static/images/arrow_return.png"></a>
    <span>修改密码</span>
    <a class="yj-header-meau"></a>
</header>
<div class="yj-content yj-mainH">
    <div class="weui-cells yj-mar-t ">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入旧密码" id="oldPwd">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入新密码" id="newPwd">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请确认密码" id="confirmPwd">
            </div>
        </div>
    </div>
    <div class="yj-pad-lr-bigger" style="margin-top: 3rem;">
        <a class="yj-btn yj-main yj-big yj-block">确定</a>
    </div>
</div>
<script type="text/javascript" src="static/js/jquery.min.js"></script>
</body>
</html>