{include file='Public:header'}
<body>
<header class="yj-header yj-bg-fff">
    <a class="yj-header-return" href="javascript:history.go(-1)"><img src="__WAPPUBLIC__static/images/arrow_return.png"></a>
    <span>我的土地</span>
    <a class="yj-header-meau"></a>
</header>
<div class="yj-content yj-mainH">
    <ul class="yj-mar-t">
        {volist name='my_land' id='land' empty="$empty"}
        <li class="yj-bg-fff yj-mar-b yj-pad-lr" id="land_1" >
            <p class="yj-list-item yj-border-b">
                <span class="yj-list-item-text" onclick="changeName('{$land.id}',this)">{$land.name}</span>
                <img class="yj-list-item-more" src="__WAPPUBLIC__static/images/trash.png" onclick="delLand({$land.id},{$Think.session.user.id})">
            </p>
            <div class="yj-display-flex yj-pad-tb-big yj-middle yj-mar-t">
                <div class="yj-flex-1 yj-text-center yj-border-r" style="height: 25px;">
                    <div style="margin-top: -14px;">
                        <p class="">{$land.perimeter}米</p>
                        <p class="yj-color-gray-light yj-text-sm">周长</p>
                    </div>
                </div>
                <div class="yj-flex-1 yj-text-center yj-border-r" style="height: 25px;">
                    <div style="margin-top: -14px;">
                        <p class="">{$land.area}亩</p>
                        <p class="yj-color-gray-light yj-text-sm">面积</p>
                    </div>
                </div>
                <div class="yj-flex-1 yj-text-center" style="height: 25px;">
                    <div style="margin-top: -14px;">
                        <p class="">{$land.landarea}平方</p>
                        <p class="yj-color-gray-light yj-text-sm">总面积</p>
                    </div>
                </div>
                {$land.state==0  ? '闲置中' : '订单进行中'}
            </div>
        </li>
        {/volist}
    </ul>

    <div class="yj-mar-t-bigger yj-pad-lr-bigger">
        <!--href="addland.html"-->
        <a class="yj-btn yj-bg-gray yj-block yj-big"  onclick="addland()">
            <img src="__WAPPUBLIC__static/images/share.png" class="yj-mar-r" height="20" style="margin-top: -4px;">
            增加土地
        </a>
    </div>
</div>
<script type="text/javascript" src="__WAPPUBLIC__static/js/jquery.min.js"></script>
<script type="text/javascript" src="__WAPPUBLIC__weui/js/jquery-weui.js"></script>
<script type="text/javascript">

    //删除土地
    function delLand(landId,userid){
        $.confirm("确认删除该土地吗", function() {
           $.ajax({
               type:"post",
               data:{landid:landId,userid:userid},
               url:'/api/land/delLand',
               success:function(data){
                   data.errcode==0 ? window.location.reload() : $.alert('删除失败');

               }
           })
        }, function() {

        });
    }
    //修改土地名字
    function changeName(landId,that){
        $.prompt({
            title: '修改地块名字',
            text: '',
            input: '',
            empty: false, // 是否允许为空
            onOK: function (input) {
                $.ajax({
                    type:"post",
                    data:{land_id:landId,name:input},
                    url:'/wap/land/updLandName',
                    success:function(data){
                        data.errcode==0 ? $(that).text(input) : $.toast('修改失败','text');

                    }
                })
            },
            onCancel: function () {
                //点击取消
            }
        });
    }
    //增加土地
    function addland(){
        $.actions({
            actions: [{
                text: "实地测量",
                onClick: function() {
                    window.location.href="measure_auto.html"
                }
            },{
                text: "手动测量",
                onClick: function() {
                    window.location.href="measure.html"
                }
            }]
        });
    }
</script>
</body>
</html>