{include file='Public:header'}

<body>

<header class="yj-header yj-bg-fff">
    <a class="yj-header-return" href="javascript:history.go(-1)"><img src="__WAPPUBLIC__static/images/arrow_return.png"></a>
    <span>常见问题</span>
    <a class="yj-header-meau"></a>
</header>

<div class="yj-content yj-mainH">
    <div class="yj-bg-fff yj-mar-t">
        <!--<p class="yj-text-big yj-pad-lr-big yj-border-b yj-light yj-pad-tb yj-pad-lr-big yj-text-bold">常见问题</p>-->
        <ul class="yj-pad-lr-big">
            {volist name='questions' id='question' key='k'}
            <li class="yj-pad-tb yj-border-b yj-light">
                <div class="yj-fold-title">
                   {$k}.{$question.title}
                </div>
                <div class="yj-bg-gray-light yj-pad yj-mar-t yj-text-sm yj-radius-sm yj-fold-content">
                    {$question.answer}
                </div>
            </li>
            {/volist}
        </ul>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $('.yj-fold-title').click(function(){
            $(this).siblings('.yj-fold-content').toggleClass('yj-none');
        });
    })
</script>

</body>

</html>