<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no, viewport-fit=cover">
    <title>滴滴打药</title>
    <link rel="stylesheet" href="__WAPPUBLIC__weui/lib/weui.min.css">
    <link rel="stylesheet" href="__WAPPUBLIC__weui/css/jquery-weui.css">
    <link rel="stylesheet" href="__WAPPUBLIC__static/css/page.css">
</head>
<script type="text/javascript" src="__WAPPUBLIC__static/js/jquery.min.js"></script>
<script type="text/javascript" src="__WAPPUBLIC__weui/js/jquery-weui.js"></script>
<script type='text/javascript' src='__WAPPUBLIC__weui/js/swiper.js'></script>
<script type="text/javascript" src="__WAPPUBLIC__static/js/my.js"></script>